.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
    margin-left: 30%;
}
.grid div  {
    height: 100px;
    width: 100px;

}

.player-one {
    background-color: red;
    border-radius: 10px;
}

.player-two {
    background-color: blue;
    border-radius: 10px
}

#result {
    color: green;
}